# Ignore specific files
Notes

# Go
apps/order-api/order-api

# Python
__pycache__/
*.pyc
.venv/

# Java / Maven
target/
*.class

# OS
.DS_Store

# Terraform
**/.terraform/
*.tfstate
*.tfstate.*
crash.log
*.tfvars
infra/terraform/envs/*/kubeconfig
